<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
  </head>

  <body>
    <h3>안녕하세요 BOOKINFO 테이블 조회 페이지입니다</h3>
    <table border="3" style="table-layout:fixed;">
      <th>
        <tr>
          <td>ISBN13</td>
          <td>도서 명</td>
          <td>출판사</td>
          <td>출판일</td>
          <td>페이지 수</td>
          <td>가격</td>
        </tr>
      </th>
      {% for row in range(bookinfo_db|length) %}
        <tr>
          {% for i in range(6) %}
            <td>{{ bookinfo_db[row][i] }}</td>
          {% endfor %}
        <tr>
      {% endfor %}

    </table>
  </body>
</html>

{# {% for data in range(row|length) %} #}
